/* main-style */

.body
{
    background-color: navajowhite;
}

p
{
    color: green; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header span 
{
   font-weight: bold;
   font-size: xx-large;
   color: lightsalmon; 
}

div span
{
    font-weight: bold;  
}

.bold 
{
    font-weight: bold;  
}

a
{
    text-decoration: wavy;
}
a:hover
{
    font-size: larger;
    color: green;
}

div.menu-bar ul ul {
    display: none;
  }

  div.menu-bar li:hover > ul {
    display: block;
  }